*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url(purplepaper.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%; 
    max-width: 100%;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top{
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.top1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top1 img{
    width: 30vw;
}

.middle{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 15px;
}

.middle1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.middle1 img{
    width: 20vw;
}

.postcard img{
    width: 30vw;
}

.middle2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.middle2 img{
    width: 25vw;
}
