body{
   /* background-image: url(wp2754860.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%; 
    */
    font-family:sans-serif;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}