body{
    background-image: url(home\ screen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%; 
    font-family:sans-serif;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}


h1{
    font-family: "Big Shoulders Inline Text", sans-serif;
    font-size: 100px;
    font-weight:bold;
    color: #00bfffe9;
    padding-bottom: 50px;
}

ul{
    font-family: "Baloo 2", sans-serif;
    font-size:25px;
}

.h1{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;

}



/* .container a{
display: block;
} */