*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: auto 0;
    padding: 20px;
}

h1{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    color: red;
    font-size: 52pt;
}

p{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 300;
    color: red;
    font-size: 24pt;
}


.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top{
    height: 20%;
}

.middle{
    padding-bottom: 40px;
    padding-left: 35px;
}

.search img{
    width: 15px;
    height: 15px;
}

.search{
    top: 50%;
    margin-left: 100px;
    width: 650px;
    height: 96px;
    border-radius: 50px;
    border: red;
    border-style: solid;
    border-width: 4px;
}

.dropdowns{
    display: none;
    position: absolute;
    background-color: #fff6f6;
    min-width: 160px;
    margin-top: 93px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-size: 20pt; 
}

.dropdowns a {
    color: #ac0808;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdowns a:hover {background-color: #ffe3e3;}
  
  .search:hover .dropdowns {display: block;}

