*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0;
    height: 100vh;
    background-color: slategray;
}

h1{
    font-family: "Dongle", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60pt;
    color: aliceblue;
}

p{
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
    color: aliceblue;
}

.top{
    height: 30%;
}

.gotohome{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;

}

button{
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
    color: #10055a;
}

.title{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.bottom{
    display: flex;
    flex-direction: row;
    gap: 400px;
}

.directions{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

li{
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
    color: aliceblue;
}

.warning{
    color: rgb(203, 19, 19);
    font-weight: 900;
    background-color: aliceblue;
    border-radius: 5px;
}
