*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgb(210, 240, 180);
}

h1{
    font-family: "Borel", serif;
    font-weight: 600;
    
}

.container{
    display: flex;
    flex-direction: column;
}

.top{
    margin: 25px;
    padding-top: 40px;
    padding-left: 30px;
}

.feed{
    justify-content: center;
    padding: 20px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.container img{
    width: 320px;
    height: 360px;
    border-radius: 4px;
    overflow: hidden;
}

.hidden{
    align-content: center;
    display: none;
}

button{
    background-color: lavender;
    height: 50px;
    border: none;
    position: sticky;
}