*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    background: #ccda46;
    margin: 0;
}

h1{
    font-family: "jaf-domus-titling-web", sans-serif;
    font-weight: bold;
    font-style: normal;
}

p{
    font-family: "jaf-domus-titling-web", sans-serif;
    font-weight: medium;
    font-style: normal;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top{
    height: 30%;
    width: 100%;
    display: flex;
}

.top-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.middle{
    width: 100%;
    height: auto;
    display: flex;
    gap: 370px;
    justify-content: center;
    align-items: center;
}

.middle-item{
    flex-direction: row;
    width: 350px;
}

.middle2{
    width: 100%;
    height: auto;
    display: flex;
    gap: 650px;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.middle-item2{
    flex-direction: row;
}

.bottom{
    width: 100%;
    height: auto;
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: center;
}

.bottom-item{
    flex-direction: row;
    width: 600px;
}

.bottom2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.bottom-item2{
    flex-direction: row;
}

.bottom3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 100px;
}

.bottom-item3{
    flex-direction: row;
    margin-left: 30px;
}