*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    background: #ccda46;
    margin: 0;
}

h1{
    font-family: "jaf-domus-titling-web", sans-serif;
    font-weight: bold;
    font-style: normal;
}

p{
    font-family: "jaf-domus-titling-web", sans-serif;
    font-weight: medium;
    font-style: normal;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top{
    height: 30%;
    width: 100%;
    display: flex;
}

.top-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.middle{
    width: 100%;
    height: auto;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.middle-item{
    flex-direction: column;
    width: 100%;
}

.middle2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
}

.middle-item2{
    flex-direction: row;
    width: 1200px;
}

#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;

    font-family: "jaf-domus-titling-web", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: large;
    color: red;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

.bottom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bottom-item{
    flex-direction: column;
    width: 150px;
}

.bottom2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 100px;
}

.bottom-item2{
    flex-direction: column;
    width: 150px;
}

.bottom3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 100px;
}

.bottom-item3{
    flex-direction: row;
    margin-left: 30px;
}